# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


#
# icera-loader
#
type icera-loader, domain;
type icera-loader_exec, exec_type, file_type;

init_daemon_domain(icera-loader)

unix_socket_connect(icera-loader, property, init)
allow icera-loader ctl_default_prop:property_service set;
allow icera-loader ctl_rildaemon_prop:property_service set;
allow icera-loader radio_prop:property_service set;
allow icera-loader radio_device:chr_file rw_file_perms;
allow icera-loader devpts:chr_file rw_file_perms;
allow icera-loader icera-loader_exec:file open;
allow icera-loader self:capability dac_override;

# sysfs access
allow icera-loader sysfs_wake_lock:file rw_file_perms;
allow icera-loader sysfs_bus_usb:file rw_file_perms;
allow icera-loader sysfs_bus_usb:dir r_dir_perms;
allow icera-loader sysfs_gpio:file rw_file_perms;
allow icera-loader sysfs_gpio:dir r_dir_perms;
allow icera-loader sysfs_gpio:lnk_file r_file_perms;

# /data/rfs access
allow icera-loader radio_data_icera_file:dir r_dir_perms;
allow icera-loader radio_data_icera_file:file r_file_perms;
allow icera-loader radio_data_icera_file:lnk_file create_file_perms;

# spawn shell in icera-loader domain
allow icera-loader shell_exec:file rx_file_perms;
# downloader, run in icera-loader domain
allow icera-loader system_file:file rx_file_perms;
