#Copyright (c) 2011-2013 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra_sata.rc
import init.t124.rc
import init.mmap_topdown.rc

on early-init
    # create LBH mountpoint
    mkdir /lbh 0775 root system

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    mount_all /fstab.ardbeg_sata
    mount ext4 /dev/block/platform/tegra-sata.0/by-name/LBH /lbh wait ro
