#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on early-init
    # create /oem symbol link
    symlink /system/vendor/oem /oem
    chmod 0755 /oem
    chown root system /oem

    # create /lbh symbol link
    symlink /system/vendor/lbh /lbh
    chmod 0755 /lbh
    chown root system /lbh

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    setprop audio.custompolicy 1
    mount_all /fstab.jetson-tk1
    swapon_all /fstab.jetson-tk1
    symlink /system/vendor/bin/FinalTestThresholdManage.ini /data/FinalTestThresholdManage.ini	26
    symlink /system/vendor/bin/rm_panel_setting.ini /data/rm_panel_setting.ini

on boot
    #max resolution supported for Miracast is 720p, represented interms of macroblocks
    setprop nvwfd.max_macroblocks 3600
    #disable 1080p miracast connection for hdvideoplayback
    setprop nvwfd.hdvideoplayback 0

on init
    setprop ro.feature.stylus 1
    setprop persist.tegra.cursor.enable 1
    setprop sf.async.cursor.enable 1
    setprop input.tch_blk.enabled 1
    setprop input.tch_blk.ext_for_ptrs 1
    setprop input.tch_blk.timeout_ms 500
    setprop input.tch_prs.ebc 0.9
    setprop input.ptr_trk.toolswitch_time 400
    setprop input.ptr_trk.toolswitch_range 200
    setprop input.ptr_trk.eraserlatch_range 10
    setprop input.ptr_trk.eraserdelay_time 250
    setprop input.ptr_trk.pinchtozoom_time 1000
    setprop input.ptr_trk.pinchtozoom_range 1100
    setprop input.ptr_trk.pinchtozoom_rectX 800
    setprop input.ptr_trk.pinchtozoom_rectY 1400
    setprop input.ptr_trk.pinchtozoom_cenX 600
    setprop input.ptr_trk.pinchtozoom_cenY 960
    setprop input.tch_blk.edgeremap_left 10
    setprop input.tch_blk.edgeremap_top 5
    setprop input.tch_blk.edgeremap_right 15
    setprop input.tch_blk.edgeremap_bottom 5
    setprop input.nonwhitelistedmode 3
    setprop keyguard.no_require_sim true
    setprop persist.tegra.didim.enable 0
    write /proc/sys/vm/page-cluster 0

service charger /charger
    class charger

on charger
    setprop persist.sys.usb.config mtp
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/APP /system wait ro
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp -1
