on boot
# Power management settings
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp 0

    # We no longer switch governor in display-on/off transitions and so don't
    # need to set conservative governor parameters
    # write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    # write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    # write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    # write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative

    # write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 95
    # write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 50
    # write /sys/devices/system/cpu/cpufreq/conservative/freq_step 3

    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/down_delay 500
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_top_freq 204000
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable

    # Enable power gating of fast CPU's
    write /sys/module/cpuidle_t11x/parameters/cpu_power_gating_in_idle 31
    write /sys/module/cpuidle_t11x/parameters/slow_cluster_power_gating_noncpu 1
    write /sys/module/cpuidle/parameters/power_down_in_idle 1

    write /sys/module/cpuidle_t11x/parameters/stop_mc_clk_in_idle 1
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1

    write /sys/module/tegra12_emc/parameters/pasr_enable 1

    # TBD: Remove the below line that give permissions for scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost_factor
    write /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold 50

    write /sys/module/input_cfboost/parameters/boost_freq 1530000
    write /sys/module/input_cfboost/parameters/boost_emc 300000
    write /sys/module/input_cfboost/parameters/boost_gpu 540000
    write /sys/module/input_cfboost/parameters/boost_time 160
    write /sys/module/input_cfboost/parameters/boost_cpus 3

on init
    # Mount a tmpfs into /mnt/tmp for hosting nvram, phs shared memory
    mkdir /mnt/tmp 0770 system system
    mount tmpfs tmpfs /mnt/tmp mode=0775,gid=1003

    start watchdogd

#set GPS GPIO property, which is used in gps_select
    setprop ro.gps.gpio 61

# Thie yields each tegra wdt expiration to be at 30 secs and fourth expiration for reboot at 120 secs.
service watchdogd /sbin/watchdogd 10 110
    class core
    seclabel u:r:watchdogd:s0
