# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


#
# icera-feedback
#
type icera-feedback, domain;
type icera-feedback_exec, exec_type, file_type;

# don't use init_daemon_domain(), conflicts with app_domain()
domain_auto_trans(init, icera-feedback_exec, icera-feedback)
app_domain(icera-feedback)

# logwrapper usage
allow icera-feedback devpts:chr_file rw_file_perms;

allow icera-feedback system_file:file x_file_perms;
allow icera-feedback shell_exec:file rx_file_perms;
allow icera-feedback zygote_exec:file rx_file_perms;
