
# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Raydium rm_ts_server

type raydium, domain;
type raydium_exec, exec_type, file_type;

init_daemon_domain(raydium)

r_dir_file(raydium, factory_file);
r_dir_file(raydium, user_calib_file);

allow raydium graphics_device:chr_file r_file_perms;
allow raydium graphics_device:dir search;
allow raydium kmsg_device:chr_file { write getattr open };

allow raydium touch_device:chr_file rw_file_perms;
allow raydium self:capability { net_admin sys_nice };
allow raydium self:netlink_socket create_socket_perms;
allow raydium self:netlink_kobject_uevent_socket create_socket_perms;
allow raydium raydium_touch_service:service_manager add;

binder_use(raydium);
binder_service(raydium);
